.nav-login {
    
  text-align: center;
  width: 50%;
  margin: 20px auto;

  input {
    height: 45px;
    border: none;
    color: #aaa;
    padding: 5px 20px;
    vertical-align: bottom;
  }

  button {
    vertical-align: bottom;
  }

}